{% extends "base.html" %}
{% load static %}

{% block title %}
    Sean's blog
{% endblock %}

{%block css_files %}
    <link rel="stylesheet" href = "{% static "blog/post.css" %}" />
    <link rel="stylesheet" href = "{% static "blog/index.css" %}"/>
{% endblock %}


{% block content %}
   
    <section id = "welcome">
        <header>
            <img src = "{% static "blog/images/profilepic.jpg" %}" alt = "Sean - The Author Of This Blog" />
            <h2>Sean's Blog</h2>
        </header>
        <p>Hi, I am Sean, I am just a man... WITH A DREAM!</p>
    </section>

    <section id = "latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html"%}
            {% endfor %}
        </ul>
    </section>

    <section id = "about">
        <h2>What I Do</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </section>
{% endblock %}