{% extends "base.html" %}

{% block title %}
    Sean's blog
{% endblock %}

{% block content %}
    <header id = "main-navigation">
        <h1><a href = "" >Sean's Blog</a></h1>
        <nav>
           <a href = ""> All Posts </a> 
        </nav>
    </header>

    <section id = "welcome">
        <header>
            <img src = "" alt = "Sean - The Author Of This Blog" />
            <h2>Sean's Blog</h2>
        </header>
        <p>Hi, I am Sean this is temporary</p>
    </section>

    <section id = "latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            <li>
                <artcle class = "post">
                    <a href = "">
                        <img src = "" alt = "Mountain Hiking" />
                        <div class = "post__content">
                            <h3>Mountain Hiking</h3>
                            <p>
                                Nothing like the views hiking in the mountains
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id = "about">
        <h2>What I Do</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </section>
{% endblock %}